<%= form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :question, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :question, :class => 'text_area', :rows => 5 %>
    </div>
  </div>

<div class="control-group">
    <%= f.label :question, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :qavatar %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :correct_answer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :correct_answer, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :incorrect_answer_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :incorrect_answer_1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :incorrect_answer_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :incorrect_answer_2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :incorrect_answer_3, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :incorrect_answer_3, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <span class = 'control-label'>Select Exam</span>
    <div class="controls">
      <%= select_tag :exam_id1, options_for_select(Exam.order('name ASC').map {|e| [e.name, e.id]}), :prompt=> "Select Exam 1", :class => 'number_field' %>
    </div>
  </div>
    <div class="control-group">
      <span class = 'control-label'>Select Exam</span>
      <div class="controls">
        <%= select_tag :exam_id2, options_for_select(Exam.order('name ASC').map {|e| [e.name, e.id]}), :prompt=> "Select Exam 2", :class => 'number_field' %>
      </div>
    </div>
    <div class="control-group">
      <span class = 'control-label'>Select Exam</span>
      <div class="controls">
        <%= select_tag :exam_id3, options_for_select(Exam.order('name ASC').map {|e| [e.name, e.id]}), :prompt=> "Select Exam 3", :class => 'number_field' %>
      </div>
    </div>
    <div class="control-group">
      <span class = 'control-label'>Select Exam</span>
      <div class="controls">
        <%= select_tag :exam_id4, options_for_select(Exam.order('name ASC').map {|e| [e.name, e.id]}), :prompt=> "Select Exam 4", :class => 'number_field' %>
      </div>
    </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questions_path, :class => 'btn' %>
  </div>
<% end %>
