<%- model_class = Question -%>
<%= link_to "Create New Question",new_question_path,:class => 'btn' %>

<div class="page-header-mine">
  <h3>Click on Exam name to see questions of it. </h3>
</div>
<% if  @exams %>
    <% @exams.each do |exam|%>
       <div class="new_exam_qs">
        <%= link_to exam.name, questions_path(:exam=> exam.id) %>
       </div>
    <% end %>

<% end %>

<% if params[:exam]%>
    <br/>
    <div class="page-header-mine">
      <h3 class="questions-head">Questions of <%= Exam.find(params[:exam]).name %></h3>
    </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><%= model_class.human_attribute_name(:question) %></th>
      <th><%= model_class.human_attribute_name(:exam_id) %></th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  <% i = 1 %>
    <% @questions.each do |question| %>
      <tr>
        <td><%= i %></td>
        <td><%= link_to question.question, question_path(question) %></td>
        <td><%= Exam.find(params[:exam]).name %></td>
        
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_question_path(question), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      question_path(question),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
      <% i+=1 %>
    <% end %>
  </tbody>
</table>
<% end %>

