
<div class="middle_desc">

    <div class="middle_desc_left">
        <h2>

          <%= @notification.title %>
        </h2>

        <p>

          <%= @notification.description %>
        </p>

        <% if user_signed_in? %>
            <% if current_user.user_type == 507 %>
                <%= link_to 'Edit', edit_notification_path(@notification), :class=>"btn" %> |

            <% end %>
        <% end %>
        <%= link_to 'Back', notifications_path, :class=>"btn" %>
    </div>
  <div class="middle_desc_right">
    <%= render :partial => "layouts/right_pane" %>
  </div>
</div>