<table class="table table-striped">
  <thead>
  <tr>
  <th>Name</th>
  <th>Email</th>
  <th> Phone</th>
  <th>Gender</th>
  <th>Pursuing</th>
  <th>College</th>
  <th>Gate Rank</th>
  </tr>
  </thead>
  <tbody>
    <% @users.each do |user|%>
          <tr>
            <td><%= user.name %>  </td>
            <td><%= user.email %> </td>
            <td><%= user.phone %>  </td>
            <td><% if user.gender == true  %> Male <% elsif user.gender==false %> Female <% end %> </td>
            <td><%= user.pursuing %>  </td>
            <td><%= user.college %>  </td>
            <td><%= user.gate_rank %>  </td>
           </tr>

    <% end %>
    </tbody>

    </table>