<% if current_user.user_type==507 %>
<table class="table table-striped">
  <thead>
  <tr>
  <th>&nbsp;</th>
  <th>Name</th>
  <th>Email</th>
  <th> Phone</th>
  <th>Gender</th>
  <th>Area of Intrest</th>
  <th>Pursuing</th>
  <th>College</th>
  <th>Gate Rank</th>
  </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% @users.each do |user|%>
          <tr>
            <td><%= i %></td>
            <td><%= user.name %>  </td>
            <td><%= user.email %> </td>
            <td><%= user.phone %>  </td>
            <td><% if user.gender == true  %> Male <% elsif user.gender==false %> Female <% end %> </td>
            <td><% if user.branch %><%= user.course.name %>-<%= user.branch.name %><% end %></td>
            <td><%= user.pursuing %>  </td>
            <td><%= user.college %>  </td>
            <td><%= user.gate_rank %>  </td>
           </tr>
      <% i+=1 %>
    <% end %>
    </tbody>

    </table>
<% end %>