

<div class="middle_desc">

  <div class="middle_desc_left">
    <div id="slider" class="achievements-sec">
    <h2>Few Achievements</h2>
       <%= image_tag "saimedhaposter.jpg", :size=>"200x200" %>
      <%= image_tag "top.rankers.jpg", :size=>"200x200" %>
      <%= image_tag "GATE.jpg" , :size=>"200x200"%>

    </div>
    <div id="slider" class="lecture-sec">
    <h2>Lectures</h2>

      <%= image_tag "lecture1.jpg", :size=>"200x200"%>
      <%= image_tag "lecture2.JPG", :size=>"200x200" %>
      <%= image_tag "lecture3.jpg", :size=>"200x200" %>
      <%= image_tag "lecture4.jpg", :size=>"200x200" %>
      <%= image_tag "lecture5.jpg", :size=>"200x200" %>
      <%= image_tag "lecture6.jpg", :size=>"200x200" %>
      <%= image_tag "lecture7.jpg", :size=>"200x200" %>

    </div>
    <div id="slider" class="books-sec">
    <h2>Books</h2>
      <%= image_tag "saimedhabook1.jpg", :size=>"200x200" %>
      <%= image_tag "saimedhabook2.jpg", :size=>"200x200" %> <br/>
      <%= image_tag "G.RAMANA sir.JPG" , :size=>"200x200"%>
      <h2>And Many More...</h2>
    </div>
  </div>

  <div class="middle_desc_right">
    <%= render :partial => "layouts/right_pane" %>
  </div>
</div>