
<%#<h2 class='header-side'>Sai Medha	</h2>%>

  <div class="list-location">


 <ul>
   <li><%= link_to 'Hyderabad', location_home_index_path(:city=>"hyderabad") %></li>
   <li><%= link_to 'Tirupathi', location_home_index_path(:city=>"tirupathi") %></li>
   <li><%= link_to 'Vijayawada', location_home_index_path(:city=>"vijayawada") %></li>

</ul>

</div>

<div class="contact-address">
  <% if @city=="hyderabad"%>
        <%= image_tag "contact.png"%>
   <% elsif @city == "tirupathi" %>
        <%= image_tag "contacttirupathi.png"%>
   <% else %>
        <%= image_tag "contactvijayawada.png" %>
   <% end %>

</div>
