
<div class="middle_desc">

  <div class="middle_desc_full">
        <h2>USER SIGN IN </h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="new_user_rem"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div><br/><br>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "links" %>

  </div>
</div>